@import "../../.cache/wal/colors-waybar.css";

* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
}

/* Base style for all modules */
#workspaces button,
#clock,
#clock.simpleclock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-notification,
#cpu,
#tray,
#battery,
#network,
#bluetooth,
#power-profiles-daemon,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @background;
  color: @foreground;
  border: 2px solid @color11;
}

#clock,
#clock.simpleclock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-notification,
#cpu,
#tray,
#battery,
#network,
#bluetooth,
#power-profiles-daemon,
#memory,
#mpris {
  border: 2px solid @color1;
}

@keyframes spotifyAnimation {
  0%   { border-color: @color2;}
  50%  { border-color: #1db954;}
  100% { border-color: @color2;}
}

/* Music Player (MPRIS) */
#mpris.playing {
  color: @color7;
  border: 2px solid;
  border-image-slice: 1;
  animation: spotifyAnimation 4s infinite linear;
}

#mpris.paused {
  color: @color2;
  border-color: @color8;
}

/* System Modules */
#cpu, #memory, #clock, #clock.simpleclock, #window, #pulseaudio, #custom-notification, #custom-power {
  background-color: @background;
  color: @foreground;
}

#pulseaudio.muted {
  color: @color8;
  opacity: 0.8;
}

#custom-notification:hover,
#clock:hover,
#clock.simpleclock:hover,
#pulseaudio:hover,
#custom-logo:hover,
#custom-power:hover,
#custom-notification:hover,
#cpu:hover,
#tray:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#power-profiles-daemon:hover,
#memory:hover
{
  color: @color3;
}

#custom-power:hover {
  color: @color4; 
  border-color: @color4;
}

/* Workspaces */
#workspaces button {
  background-color: @background;
  color: @color7;
}

#workspaces button:hover {
  color: @color3;
  background-color: @background;
}

#workspaces button.active {
  background-color: @color1;
  color: @background;
  border-color: @color1;
}

/* Tray & Tooltip */
#tray {
  color: @foreground;
  background-color: @background; 
}

window#waybar.empty #window {
  background-color: transparent;
  border: none;
}