
//@theme "~/dotfiles/.config/rofi/themes/windows11-grid-dark.rasi"

//@theme "~/dotfiles/.config/rofi/themes/windows11-list-dark.rasi"

//@theme "~/dotfiles/.config/rofi/themes/simple-tokyonight.rasi"

configuration {
    show-icons: true;
}

//@theme "~/dotfiles/.config/rofi/themes/windows11-list-dark.rasi"

//@theme "~/dotfiles/.config/rofi/themes/windows11-list-dark.rasi"

@theme "~/dotfiles/.config/rofi/themes/rounded-gray-dark.rasi"
