.systray__container {
	.tray-button {
		background-color: transparentize(if($dark_mode, $background, $on_secondary), 1 - $bar_button_opacity);
		color: $on_background;
		border-radius: $bar_button_border_radius;
		padding: $panel_button_padding;
		border-radius: $bar_button_border_radius;
		padding: 10px;
		min-width: 18px;
		min-height: 18px;
	}
}
