#inner-box {
	margin: 5px;
}

#input {
	color: white;
	background-color: black;
	font-family: "ShureTechMono Nerd Font", monospace;
	font-size: 18px;
	border: 2px solid black
}
#entry {
	
}
#outer-box {
	font-family: "ShureTechMono Nerd Font", monospace;
	margin: 25px;
	#border: 2px solid green;
	#background-color: black;

}

#scroll {
	#margin: 5px;
	#border: 2px solid orange;
	#background-color: orange;
}

#text {
	font-size: 18px;
	color: white;
	margin: 5px;
} 
#window {
	font-family: "ShureTechMono Nerd Font", monospace;
	border-radius: 8px;
	background-color:rgba(0,0,0,0.7);
	#border: 2px solid #b700ff;
	border: 2px solid #BDC2FF;
}

#entry:selected{
	background-color:black;
	#border: 2px solid #b700ff;
	border: 2px solid #50567F;
	border-radius: 10px;
}

#text:selected{
}
#input:selected{
    border:2px solid #8790ee;
}
